body
{
    /*Initialisation*/
    margin: 0;
    padding: 0;
    /*Apparence*/
    background-color: black;
    color: white;
}
*, ::before, ::after
{
    /*Ajustement des proportions*/
    box-sizing: border-box;
}
.loaderContainer
{
    /*Proportions*/
    width: 100vw;
    height: 100vh;
    /*Positionnement*/
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background: rgb(0, 0, 17);
    color: aquamarine;
    /*Animations*/
}
.loader
{
    /*Proportions*/
    width: 9vh;
    height: 9vh;
    /*Positionnement*/
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background: rgb(0, 0, 17); */
    /* color: aquamarine; */
    /*Animations*/
    animation: rotateLoader 2s linear infinite;
}
@keyframes rotateLoader
{
    0%
    {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.fonduOut
{
    /*Faire fondre un élment html !*/
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.hidden
{
    /*Masquer un élément html !*/
    display: none;
}
.fond
{
    /*Proportions*/
    width: 100vw;
    height: 100vh;
    /*Positionnement*/
    z-index: 0;
    position: absolute;
    left: 0vw;
    top: 0vh;
    /* transform: translate(-50%,-50%); */
    /*Apparence*/
    background: rgb(255, 255, 255);
    color: rgb(17, 0, 116);
    /*Animations*/
}
.banniere1
{
    /*Proportions*/
    width: 100vw;
    height: 25vh;
    /*Positionnement*/
    z-index: 1;
    position: absolute;
    left: 0vw;
    top: 0vh;
    /* transform: translate(-50%,-50%); */
    /*Apparence*/
    background: linear-gradient(90deg,rgb(0, 0, 17),rgb(0, 0, 34),rgb(0, 0, 68));
    /* color: rgb(17, 0, 116); */
    /*Animations*/
}
.banniere2
{
    /*Proportions*/
    width: 100vw;
    height: 1.5vh;
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 0vw;
    top: 25vh;
    /* transform: translate(-50%,-50%); */
    /*Apparence*/
    background: linear-gradient(90deg,rgb(144, 144, 255),rgb(162, 162, 255),rgb(187, 187, 255));
    /* color: rgb(17, 0, 116); */
    /*Animations*/
}
.icon
{
    /*Proportions*/
    width: 11vh;
    height: 11vh;
    /*Positionnement*/
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 4vh;
    transform: translate(-50%,0%);
    /*Apparence*/
    /* background: linear-gradient(90deg,rgb(144, 144, 255),rgb(162, 162, 255),rgb(187, 187, 255)); */
    /* color: rgb(17, 0, 116); */
    /*Animations*/
}
.titre
{
    /*Proportions*/
    font-size: 2.5vh;
    /*Positionnement*/
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 17vh;
    transform: translate(-50%,0%);
    /*Apparence*/
    font-weight: normal;
    /* background: linear-gradient(90deg,rgb(144, 144, 255),rgb(162, 162, 255),rgb(187, 187, 255)); */
    color: rgb(214, 225, 255);
    /*Animations*/
}
.bienvenue
{
    /*Proportions*/
    font-size: 2vh;
    /*Positionnement*/
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 27vh;
    transform: translate(-50%,0%);
    /*Apparence*/
    font-weight: normal;
    font-style: italic;
    /* background: linear-gradient(90deg,rgb(144, 144, 255),rgb(162, 162, 255),rgb(187, 187, 255)); */
    color: rgb(0, 12, 46);
    /*Animations*/
}